@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
   margin: 0;
   padding: 0;
   font-family: 'ubuntu', sans-serif;
}
.container{
   width:fit-content;
   margin: 80px auto;
   padding: 10px;
}
.main-title{
   margin: 5px;
   padding: 10px;
   text-align: center;
}
.form > form > fieldset{
   padding: 15px;
   border: 3px solid black;
   border-radius: 10px;
}
.form > form > fieldset > legend{
   font-weight: bold;
}
.form > form > fieldset > div{
   margin: 10px 0px;
}
.buttons{
   padding: 10px;
   text-align: center;
}
#calculate-button, #reset-button, #home{
   padding: 7px;
   margin: 0px 10px;
   border-radius: 10px;
   outline: none;
   font-weight: bold;
   transition: 0.3s;
}
#calculate-button:hover, #reset-button:hover, #home:hover{
   cursor: pointer;
   background-color: darkgrey;
}
#one{
   margin-left: 65px
}
#three{
   margin-left: 45px;
}
#four{
   margin-left: 26px;
}
#five{
   margin-left: 35px;
}
#six{
   margin-left: 7px;
}
#seven{
   margin-left: 55px;
}
.home{
   padding: 10px;
   text-align: center;
}